VITE_SUPABASE_URL=https://movuteemhailtrvkscxa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vdnV0ZWVtaGFpbHRydmtzY3hhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4OTAwMTIsImV4cCI6MjA5MTQ2NjAxMn0.AAfwzqfAfE2kbzKNrp5oZtfHmCH32MRGnaGPklRaTKc